$blue-navy: #052664;
$blue-navy-light: #184E77;
$blue: #2974B8;
$white: #ffffff;
$black: #070E12;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=STIX+Two+Text:wght@400;500;600&display=swap');

// STIX Two Text
@font-face {
    font-family: 'STIX Two Text';
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=STIX+Two+Text:wght@400;500;600&display=swap') format('truetype');
}

// Roboto
@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap') format('truetype');
}

// ============== Settings responsive ===============
$breakpoints: (
  'pc': 'screen and (min-width: 769px)',
  'sp': 'screen and (min-width: 310px) and (max-width: 768px)',
  'mini-tablet': 'screen and (min-width: 768px) and (max-width: 1024px)',
  'tablet': 'screen and (min-width: 1025px) and (max-width: 1280px)'

) !default;

@mixin res_for($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ============== Spacing ===============

.m-auto {
    margin: auto;
}

.p-0 {
    padding: 0;
}

.mt-26 {
    margin-top: 26px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-40 {
    margin-top: 40px;
}

a {
    &:hover {
        text-decoration: none;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

// =============== button ===============

#button-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF9800;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;

    & > img {
        width: 26px;
    }

    &:hover {
        cursor: pointer;
        background-color: #333;
        transition: all 0.5s ease;
    }

    &:active {
        background-color: #555;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
  }

  .btn-more {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    line-height: auto;
    font-weight: 500;
    color: $white;
    background-color: $blue;
    border-radius: 20px;
    padding: 8px 20px;
    margin: auto;

    &:hover {
        text-decoration: none;
        box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
        transition: all 0.5s ease;
        background: $blue-navy;
        color: $white;
    }
  }

  .topic {
    display: block;
    font-family: 'STIX Two Text';
    font-size: 60px;
    line-height: 74px;
    font-weight: 600;
    color: $blue-navy;
    text-align: center;
    margin: auto;
    margin-bottom: 26px; 
    z-index: 10;

    &.topic--white {
        color: $white;
    }
  }

// ============================== Header ==============================

  .header-wrap {
    width: 100%;
    height: 100%;
    position: relative;


    .header-wrap__heading {
        width: 100%;
        height: auto;
        background: $blue-navy;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        position: fixed;
        z-index: 10;
    }

    .navbar-custom {
        width: 100%;
        background-color: $blue-navy;
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 20px 0px;

        .navbar-custom__logo {
            height: 30px;
            object-fit: cover;

            & > img {
                height: 30px;
            }
        }

        .navbar-custom__collapse {
            flex-grow: 0;

            & > ul li { 
                display: flex;
                align-items: center;
                padding: 0px 4px;

                & > .nav-link { 
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 600;
                    color: $white;
                    white-space: nowrap;
                }

                &.search {
                    background: none;
    
                    &:hover {
                        background: none;
                    }
                }

                &:hover {
                    color: $blue-navy;
                    background: $white;
                    border-bottom-right-radius: 10px;
                    border-top-left-radius: 10px;
                    transition: all 0.5s ease;
    
                    & > .nav-link { 
                        color: $blue-navy;
                    }
                }

                .dropdown-item:focus, .dropdown-item:hover {
                    color: #16181b;
                    text-decoration: none;
                    background-color: $blue-navy;
                    color: $white;
                }
            }
        }
    }

    .swiper-container .swiper-zoom-container>img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }

    .swiper-button-next,
    .swiper-button-prev {
        background-color: rgba(255, 255, 255, 0.5);
        right:10px;
        padding: 30px;
        color: #000 !important;
        fill: black !important;
        stroke: black !important;
        border-radius: 50%;

        &:hover {
            background: $blue-navy;
        }
    }

    .swiper-button-next:after, .swiper-button-prev:after {
        font-family: swiper-icons;
        font-size: 28px;
        font-weight: 700;
        text-transform: none!important;
        letter-spacing: 0;
        font-variant: initial;
        line-height: 1;
        color: $white;
    }

    .swiper-button-next {
        margin-right: 20px;
    }

    .swiper-button-prev {
        margin-left: 20px;
    }
  }

// ============================== gioi-thieu ==============================

.about-wrap {
    position: relative;
    width: 100%;
    background-color: #FAFAFA;
    background-image: url('../img/images/bg-clouds.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    padding: 120px;

    .about-wrap__cloud {
        position: absolute;
        width: 100%;
        height: 362px;
        top: -16%;
        left: 0;
        background-image: url('../img/images/Clouds-float.png');
        background-size: contain;
        background-position: center;
        background-repeat: repeat-x;
        z-index: 2;
        animation: wind 50s linear infinite;
    }

    @keyframes wind{
        0% {
          background-position: 0 100px, 0 200px, 100px 250px;
        }

        100% {
          background-position: 1000px 100px, 1200px 200px, 1100px 250px;
        }
      
      }

    .about-wrap__dream-1, .about-wrap__dream-2 {
        width: 650px;
        height: 650px;

        & > img {
            width: 650px;
            height: 650px;
            object-fit: contain; 
        }
    }

    .about-wrap__dream-1 {
        position: absolute;
        left: -5%;
        top: 10%;
        transform: translateY(10%);
        z-index: 5;
    }

    .about-wrap__dream-2 {
        position: absolute;
        right: -5%;
        top: 10%;
        transform: translateY(10%);
        z-index: 5;
    }

    .about-wrap__content--img-top {
        display: flex;
        justify-content: center;
        height: 200px;
        margin-bottom: 20px;

        & > img {
            height: 200px;
            object-fit: contain;
        }
    }

    .about-wrap__content--title {
        font-size: 60px;
        line-height: auto;
        font-weight: 700;
        font-family: 'STIX Two Text';
        color: $blue-navy;
        text-align: center;
    }

    .about-wrap__content--description {
        display: flex;
        justify-content: center;
        width: 40%;
        font-size: 24px;
        line-height: 36px;
        text-align: justify;
        margin: 20px auto;
    }

    .about-wrap__content--more {
        margin-bottom: 80px;
    }

    .about-wrap__creators {
        display: flex;
        justify-content: center;
        height: 484px;

        & > img {
            height: 484px;
        }
    }

    .about-wrap__limit-cloud {
        width: 100%;
    }
}

// ============================== bai-moi ==============================
.new-post {
    margin-bottom: 80px;
}

hr.hr-limited {
    border-top: 0.5px solid $blue-navy;
    margin: 16px auto;
}

.post__cart {
    width: 100%;

    &:hover {
        .post__cart--img {
            & > img {    
                width: 100%;
                height: 446px;
                display: flex;
                justify-content: center;
                transition: all 0.5s ease;
            }
        }

        .post__cart--content {
            color: $blue;
        }

    }

    .post__cart--img {
        width: 100%;
        height: 346px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        overflow: hidden;
        margin-bottom: 16px;

        &.media__cart--img {
            width: 100%;
            height: 155px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            overflow: hidden;

            & > img {
                width: 265px;
                height: 155px;
                object-fit: cover;
            }
        }

        &.podcast__post--img {
            width: 100%;
            height: 240px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            overflow: hidden;

            & > img {
                width: 100%;
                height: 280px;
                object-fit: cover;
            }
        }

        & > img {
            width: 100%;
            height: 346px;
            object-fit: cover;
        }

    }

    .post__cart--tag {
        width: calc(100% - 90% + 82px);
        height: 26px;
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;
        text-align: center;
        white-space: no-wrap;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $blue-navy;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 8px 16px;
        margin-bottom: 10px;
    }

    .post__cart--content {
        width: 100%;
        font-size: 22px;
        line-height: 26px;
        font-weight: 600;
        color: $black;

        &.media__cart--content {
            font-size: 16px;
            line-height: 18px;
            font-weight: 600;
            color: $black;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        &.podcast__cart--content {
            display: flex;
            align-items: center;

            & > img {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }

            .podcast__cart--description {
                font-size: 20px;
                line-height: 30px;
                font-weight: 600;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                margin-bottom: 0px;
            }

        }
    }
}

.post__list {
    width: 100%;

    & > ul {
        padding: 0;
        list-style: none;

        li {margin-bottom: 26px;}
    }

    .item-cart {
        display: flex;
        align-items: center;

        &:hover {
            .item-cart__img {
                & > img {
                    width: 252px;
                    height: 86px;
                    display: flex;
                    justify-content: center;
                    transition: all 0.5s ease;
                }
            }

            .item-cart__content {
                & > p { color: $blue; }
            }
        }

        .item-cart__img {
            width: 100%;
            height: 86px;
            overflow: hidden;
            margin-right: 16px;

            & > img {
                width: 152px;
                height: 86px;
                object-fit: cover;
            }
        }

        .item-cart__content--tag {
            width: 82px;
            height: 26px;
            background: $blue-navy;
            font-size: 18px;
            line-height: 22px;
            font-weight: 500;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            margin-bottom: 10px;
        }

        .item-cart__content {
            & > p {
                font-size: 20px;
                line-height: 26px;
                font-weight: 600;
                color: $black;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
    }
}
// ============================== Video - Podcast ==============================
.media {
    margin-bottom: 22%;
}

// ============================== Categories ==============================

.categories-swiper {
    width: 100%;
    height: 100%;

    .swiper-slide {
        width: 420px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-pagination {
        margin-top: 40px;
    }
}

.categories {
    position: relative;
    width: 100%;
    height: 650px;
    background: $blue-navy-light;

    .categories--topic {
        margin-top: 80px;
    }

    .categories__rock {
        position: absolute;
        width: 100%;
        height: 583px;
        top: -50%;
        left: 0;
        background-image: url('../img/images/mountain.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
    }

    .categories__mountain {
        position: absolute;
        top: 0;
    }

    .categories__cart {
        width: 100%;
        padding: 16px;
        background:rgba(255, 255, 255, 0.5);

        &:hover {
            background: $white;
            background: #FFF;
            /* shadow-blue */
            box-shadow: 5px 5px 10px 0px #3B8ABC, -5px -5px 10px 0px #3B8ABC;
            transition: all 0.5s ease;
        }

        .categories__cart--post {
            .post__img {
                width: 100%;
                height: 230px;
                overflow: hidden;

                & > img {
                    width: 100%;
                    height: 230px;
                    object-fit: cover;
                }
            }

            .post__content {
                font-size: 22px;
                line-height: 28px;
                font-weight: 500;
                color: $black;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }

        .categories__cart--link {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-size: 26px;
            line-height: auto;
            font-weight: 500;
            color: $white;
            background-color: $blue-navy;
            border-radius: 40px;
            padding: 4px 10px;
            margin: auto;
        
            &:hover {
                text-decoration: none;
                box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
                transition: all 0.5s ease;
                background: $blue-navy;
                color: $white;
            }
        }
    }
}

// ============================== Gallery ==============================
.gallery {
    position: relative;
    width: 100%;
    background: $white;

    .gallery-img {
        width: 100%;
        height: 526px;
        overflow: hidden;

        & > img {
            width: 100%;
            height: 526px;
            object-fit: cover;
        }
    }
}

// ============================== Sự thánh thiện Salêdiêng ==============================
.saints {
    width: 100%;
    height: 600px;
}

// ============================== Footer ==============================
footer {
    position: relative;
    background-color: $blue-navy;
    color: $white;
    padding: 60px 0px;
    
    .footer {
        .footer__scence {
            position: absolute;
            bottom: 100%;
            width: 100%;
            height: 170px;
            background-image: url('../img/images/sceence-footer.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .footer__logo {
            width: 100%;

            & > img {
                width: 100%;
                height: 35px;
                object-fit: contain;
            }
        }

        .footer__list {
            flex-grow: 0;

            & > ul { padding: 0; }

            &.footer__list--address {
                margin-top: 26px;
            }

            &.footer__list--content {
                & > ul {
                    padding: 0;
                }
            }

            &.footer__list--access {
                & > ul {
                    padding: 0;
                }

                & > ul li {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 30px;
                    color: $white;
                }
            }

            ul {
                list-style: none;

                li.item > a {
                    display: flex;
                    align-items: baseline;
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 400;
                    color: $white;
                    margin-bottom: 12px;

                    .item__icon {
                        width: 24px;
                        height: 24px;
                        margin-right: 10px;
                    }
                }
            }
        }

        .footer__title {
            font-size: 22px;
            font-weight: 600;
            line-height: 30px;
            color: $white;
            margin-bottom: 18px;
        }

        .footer__img-flick {
            width: 100%;
            height: 240px;

            & > img {
                width: 100%;
                height: 240px;
                object-fit: cover;
            }
        }
    }
}
